#Courses_Search{
    padding-top: 7vw;
    margin-left: 9vw;
    width: 100%;
    height: 100%;
    min-height: 47vw;
    color: var(--second-color);
}
.search_courses_block{
    margin-top: 2vw;
    width: 62.5vw;
    display: flex;
    flex-wrap: wrap;
    gap: .5vw;
}
.search_courses_block button{
    color: var(--second-color);
}
#filters .btn_search_courses.active_courses{
    transform: rotate(-10deg);
    background: var(--additional-color);
    color: #000;
  }
.btn_search_courses{
    color: var(--first-color);
    cursor: pointer;
    font-size: .8vw;
    font-family:var(--font-second);
    font-weight: 300;
    padding: .5vw 1.3vw;
    border: none;
    border-radius: 100px;
    background: var(--first-color);
    white-space: nowrap;
    transition: .5s ease;
}
.btn_search_courses:hover{
    transform: rotate(-10deg);
    background: var(--additional-color);
    color: #000;
}

#courses{
    margin-top: 2.6vw;
    width: 80vw;
    flex-wrap: wrap;
    gap: 5.5vw;
    row-gap: 2vw;
    display: flex;
}
.course-card{
    width: 23vw;
    height: 13vw;
    color: #000;
}
.courses_block{
    border-radius: 25px;
    width: 23vw;
    background: var(--first-color);
    display: flex;
    justify-content: center;
}

.courses_block_item_img{
    position: relative;
    padding: .5vw;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 22vw;
    height: 11vw;
    margin-top: .5vw;
    border-radius: 20px;
}

.name_courses_item{
    position: absolute;
    padding: .2vw 2vw;
    border-radius: 100px;
    height: 2vw;
    background: rgba(0, 0, 0, 0.2);
    color: #FFF;
    font-family: var(--font-first);
    font-weight: 500;
    font-size: 1vw;
}
.time_line_courses span{
    font-family: var(--font-first);
    font-size: 1vw;
    font-weight: 500;
}
.courses_block_item_pay{
    display: flex;
    gap: .5vw;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5vw;
}
.courses_block_item_pay p{
    white-space:nowrap;
    color: #FFF;
    font-family: var(--font-second);
    border-radius: 100px;
    font-weight: 500;
    font-size: .8vw;
    padding: .4vw 2vw;
    background: rgba(0, 0, 0, 0.2);
}
.courses_block_item_pay button{
    padding: .4vw 2vw;
    cursor: pointer;
    font-weight: 300;
    border-radius: 100px;
    border: none;
    width: 100%;
    background: var(--first-color);
    color: var(--second-color);
    font-family: var(--font-second);
    font-size: .8vw;
}
.courses_block_item_info{
    display: flex;
    width: 100%;
    background: transparent;
    border: none;
    justify-content: center;
    padding: .6vw;
    cursor: pointer;
}
.courses_block_item_info img{
    width: .8vw;
}
.courses_block_item_i{
    display: flex;
    flex-direction: column;
    gap:.5vw;
    padding: 1vw 0;
}
.time_line_courses{
    font-family: var(--font-second);
    font-size: .8vw;
    font-weight: 300;
}
.short_text{
    font-family: var(--font-second);
    font-size: .8vw;
    width: 20vw;
    font-weight: 300;
}
.stack_raz{
    color: var(--second-color);
    flex-wrap: wrap;
    display: flex;
    gap: .2vw;
}
.stack_raz p{
    font-family: var(--font-second);
    font-weight: 300;
    font-size: .6vw;
    padding: .2vw .5vw;
    background: var(--grey);
    color: var(--second-color);
    border-radius: .2vw;
}









.course_item{
    width: 23vw;
    padding: .5vw 1vw;
    height: 13vw;
    background-image: url('../include/courses/Subtract.svg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}


.button_array_courses{
    cursor: pointer;
    width: 2.6vw;
    height: 2.6vw;
    background: var(--second-color);
    border: none;
    border-radius: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: -12.2vw;
    margin-left: 19.6vw;
    transition: .5s ease;
}
.button_array_courses svg{
    stroke: var(--first-color);
    fill: transparent;
    width: 1.5vw;
    height: 1.5vw;
}
.button_array_courses:hover{
    transform: rotate(45deg) scale(1.2);
}

#loadMoreBtn{
    margin-top: 2vw;
    width: 12vw;
    padding: 1vw 1vw;
    display: flex;
    align-items: center;
    justify-content:center;
    border: none;
    color: var(--first-color);
    background: var(--second-color);
    gap: 1vw;
    border-radius: 100px;
    cursor: pointer;
    font-family: var(--font-second);
    font-size: .8vw;
    font-weight: 300;
}

.donthavecourses{
    font-family: var(--font-second);
    font-size: .8vw;
    font-weight: 300;
}

